.SideDrawer {
  position: fixed;
  width: 200px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0); /* same as the sideDrawer class */
}
.Close {
  transform: translateX(-100%);
}

.Logo {
  padding: 8px;
  height: 11%;
  box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 32px;
}   

.Logo img {
  height: 40px;
} 

@media(max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}